<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOGIN</title>
    <link rel="stylesheet" href="login.css">
</head>
<body class="body">--}}
{{#> overlay title="Вход"}}
        {{#*inline "form"}}
            <div class="inputs_container" id="output">
                {{> input name="login"}}
                {{> input name="password"}}
            </div>
            <div class="btn_container">
                {{> btn text="Sign In"}}
                <button class="btn_sign-up">
                    <a href="../registration/registration.hbs" class="link">Sign Up</a>
                </button>
            </div>
        {{/inline}}
    {{/overlay}}
</body>
<script src="login.js" type="module"></script>
</html>