<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="profile.css">
    <title>PROFILE</title>
</head>
<body class="main">
    {{#> profile-layout}}
        {{#*inline "form"}}
            <div class="info-container">
                {{> info title="Почта" value="pochta@yandex.ru"}}
                {{> info title="Логин" value="ivanivanov"}}
                {{> info title="Имя" value="Ivan"}}
                {{> info title="Фамилия" value="Иванов"}}
                {{> info title="Имя в чате" value="Иван"}}
                {{> info title="Телефон" value="+7 (909) 967 30 30"}}
            </div>
            <div class="btn__container">
                <div class="btn">
                    <a href="../change-data/change-data.hbs" class="link" style="color: #3369F3">Изменить данные</a>
                </div>
                <div class="btn">
                    <a href="../change-password/change-password.hbs" class="link" style="color: #3369F3">Изменить пароль</a>
                </div>
                <div class="btn">
                    <a href="../login/login.hbs" class="link">Выйти</a>
                </div>
            </div>
        {{/inline}}
    {{/profile-layout}}
</body>
</html>