<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../404/404.css">
    <title>Title</title>
</head>
<body class="body">
<h1 class="header">500</h1>
<p class="sub-header">Мы уже фиксим</p>
<a href="../chat/chat.hbs" class="link">Назад к чатам</a>
</body>
</html>