<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body class="body">
{{#> overlay title="Регистрация"}}
    {{#*inline "form"}}
        <div class="inputs_container" id="output">
            {{> input name="email"}}
            {{> input name="login"}}
            {{> input name="name"}}
            {{> input name="sername"}}
            {{> input name="telephone"}}
            {{> input name="password"}}
        </div>
        <div class="btn_container">
            {{> btn text="Sign Up"}}
            <button class="btn_sign-up">
                <a href="../login/login.hbs" class="link">Sign In</a>
            </button>
        </div>
    {{/inline}}
{{/overlay}}
</body>
<script src="registration.js" type="module"></script>
</html>