<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../profile/profile.css">
    <title>EDIT PASSWORD</title>
</head>
<body class="main">
{{#> profile-layout}}
    {{#*inline "form"}}
        <form class="info-container">
            {{> change-info title="Старый пароль" value="*****"}}
            {{> change-info title="Новый пароль" value="****"}}
            {{> change-info title="Повторите новый пароль" value="****"}}
            {{> btn text="Save"}}
        </form>
    {{/inline}}
{{/profile-layout}}
</body>
</html>