<div class="chat-box">
    <div class="img-box">
        <img src="../../../static/profile-icon.jpg" class="profile-icon"/>
    </div>
    <h2 class="name">{{name}}</h2>
    <p class="message">{{message}}</p>
    <p class="time">{{time}}</p>
    <div class="unread">{{unread}}</div>
</div>