<div class="nav-btn__container">
    <button class="nav-btn">
        <img src="../../../static/btn-to-main.png" class="nav-btn__img"/>
    </button>
</div>
<div class="profile__container">
    <div class="main-info__container">
        <img src="../../../static/profile-icon.jpg" class="img"/>
        <h2 class="name">Ivan</h2>
    </div>
    {{> form}}
</div>