<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column">
<a href="pages/login/login.hbs">login</a>
<a href="pages/registration/registration.hbs">registration</a>
<a href="pages/profile/profile.hbs">profile</a>
<a href="pages/chat/chat.hbs">chat</a>
<a href="pages/404/404.hbs">404</a>
<a href="pages/500/500.hbs">500</a>
</body>
</html>